<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="profile-img flexcol">
      <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      {{#if showUpdateToken}}
      <a class="update-token" title="Update token"><i class="fas fa-user-circle"></i></a>
      {{/if}}
    </div>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      <div class="flexrow">
        <div class="resource">
          <label for="data.ancestry.value" class="resource-label">{{localize 'M20.Ancestry'}}</label>
          <input type="text" name="data.ancestry.value" value="{{data.ancestry.value}}" data-dtype="String" />
        </div>
        <div class="resource">
          <label for="data.class.value" class="resource-label">{{localize 'M20.Class'}}</label>
          <input type="text" name="data.class.value" value="{{data.class.value}}" data-dtype="String" />
        </div>
        <div class="level">
          <label for="data.level.value" class="resource-label">{{localize 'M20.Level'}}</label>
          <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  <div class="stats-block flexcol">
    <table class="flex-group-center">
      <thead>
        <tr>
          {{#if separateMagicFatigue}}
          <th colspan="4">{{localize 'M20.Health'}}</th>
          {{else}}
          <th colspan="2">{{localize 'M20.Health'}}</th>
          {{/if}}
          <th colspan="2">{{localize 'M20.Wounds'}}</th>
        </tr>
        <tr>
          {{#if separateMagicFatigue}}
          <th>{{localize 'M20.Fatigue'}}</th>
          <th>{{localize 'M20.Magic'}}</th>
          {{/if}}
          <th>{{localize 'M20.Hp'}}</th>
          <th>{{localize 'M20.Max'}}</th>
          <th>{{localize 'M20.Wp'}}</th>
          <th>{{localize 'M20.Max'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#if separateMagicFatigue}}
        <td><input class="narrow-input" type="text" name="data.fatigue.value" value="{{data.fatigue.value}}"
            data-dtype="Number" /></td>
        <td><input class="narrow-input" type="text" name="data.magic.value" value="{{data.magic.value}}"
            data-dtype="Number" /></td>
        <td>{{data.health.value}}</td>
        {{else}}
        <td><input class="narrow-input" type="text" name="data.health.value" value="{{data.health.value}}"
            data-dtype="Number" /></td>
        {{/if}}
        <td><input class="narrow-input" type="text" name="data.health.max" value="{{data.health.max}}"
            data-dtype="Number" /></td>
        <td><input class="narrow-input" type="text" name="data.wounds.value" value="{{data.wounds.value}}"
            data-dtype="Number" /></td>
        <td><input class="narrow-input" type="text" name="data.wounds.max" value="{{data.wounds.max}}"
            data-dtype="Number" /></td>
      </tbody>
    </table>

    <table class="flex-group-center">
      <thead>
        <tr>
          <th colspan="3">{{localize 'M20.Stats'}}</th>
          <th colspan="3">{{localize 'M20.Combat'}}</th>
        </tr>
        <tr>
          <th>{{localize 'M20.Strength'}}</th>
          <th>{{localize 'M20.Agility'}}</th>
          <th>{{localize 'M20.Mind'}}</th>
          <th>{{localize 'M20.ArmorClass'}}</th>
          <th>{{localize 'M20.CombatBonus'}}</th>
          <th>{{localize 'M20.Initiative'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.abilities as |ability key|}}
        <td>
          <input class="narrow-input" type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}"
            data-dtype="Number" />
          <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod"
            data-label="{{toUpperCase key}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
        </td>
        {{/each}}
        <td>
          <input class="narrow-input" type="text" name="data.combat.ac.value" value="{{data.combat.ac.value}}"
            data-dtype="Number" />
        </td>
        <td>
          <input class="narrow-input" type="text" name="data.combat.cb.value" value="{{data.combat.cb.value}}"
            data-dtype="Number" />
        </td>
        <td>
          <input class="narrow-input" type="text" name="data.combat.init.value" value="{{data.combat.init.value}}"
            data-dtype="Number" />
        </td>
      </tbody>
    </table>
  </div>

  <div class="skills">
    <ol class="items-list">
      <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">{{backgroundsTitle}}</div>
        <div class="item-controls">
          {{#if editableBackgrounds}}
          <a class="item-control create-skill" title="Add skill" data-type="skill"><i class="fas fa-plus"></i></a>
          {{/if}}
        </div>
      </li>
      {{#each skills as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
        </div>
        <h4 class="item-name">{{item.name}} {{numberFormat item.data.data.mod decimals=0 sign=true}}</h4>
        {{> rollsButtons}}
        <div class="item-controls">
          <a class="item-control item-edit" title="Edit skill"><i class="fas fa-edit"></i></a>
          {{#if ../editableBackgrounds}}
          <a class="item-control item-delete" title="Delete skill"><i class="fas fa-trash"></i></a>
          {{/if}}
        </div>
      </li>
      {{else}}
      <li class="item flexrow">
        <div class="item-image"></div>
        <h4 class="item-name">
          {{#if editableBackgrounds}}
          <a class="create-skill">{{localize 'M20.Backgrounds.Empty'}}</a>
          {{!-- {{{localize 'M20.Backgrounds.Empty' button='<a class="item-control create-skill" title="Add skill"
            data-type="skill"><i class="fas fa-plus"></i></a>'}}} --}}
          {{else}}
          {{!-- <a class="create-base-skills">Click to add the four base skills.</a> --}}
          <a class="create-base-skills">{{localize 'M20.Skills.Empty'}}</a>
          {{/if}}
        </h4>
      </li>
      {{/each}}
    </ol>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Name</div>
          <div class="item-header-buttons">
            <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i>
              Item</a>
            <a class="item-control item-create" title="Create weapon" data-type="weapon"><i class="fas fa-plus"></i>
              Weapon</a>
          </div>
        </li>
        {{#each gear}}
        <li class="item flexrow" data-item-id="{{_id}}">
          <div class="item-image"><img src="{{img}}" title="{{name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{showQuantity data.data.quantity}} {{name}}</h4>
          {{> rollsButtons}}
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{else}}
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <h4 class="item-name">No items yet.</h4>
        </li>
        {{/each}}
      </ol>
    </div>

  </section>
</form>

{{#*inline "rollsButtons"}}
{{#if rolls}}
<div>
  <i class="fas fa-dice-d20"></i>
  {{#each rolls}}
  <span class="rollable" data-roll="{{roll}}" data-label="{{label}}">{{button}}</span>
  {{/each}}
</div>
{{/if}}
{{/inline}}